.container{
    margin:0 auto;
    padding: 50px;
    max-width: 1000px;
    background-color: rgb(253, 255, 248);
}

#navbar{
    max-width: 1000px;
    margin: 0 auto;
    /* padding: 0 50px; */
    background-color: #C4FF61;
}

#navbarBrand{
    width: 30%;
}

#navBrandImg{
    width: 100%;
}

#searchButton{
    width:2rem;
    height: 2.3rem;
}

#searchImg{
    width: 300%;
    margin-left: -6px;
}

#spinnerContainer{
    margin-top:3rem;
    text-align: center;
}

.subTitle{
    margin-top: 3rem;
    font-weight: lighter;
}

#deaths{
    background-color: crimson;
    color: white;
}

#infected{
    background-color: goldenrod;
    color: white;
}

.dataBox{
    margin: 1rem 0rem;
    background-color: rgb(233, 247, 252);
    /* min-height: 25rem; */
}

.profileImg{
    margin: 0 auto;
    width: 100%;
}

.profileImgBox{
    width: 100%;
    
    
}

.name{
    font-weight: bold;
    text-align: center;
    font-size: 1.25rem;
    word-wrap: break-word;
}

.desc{
    font-size: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575px) {
    .name{
        font-size: 3rem;
    }
    .desc{
        font-size: 2rem;
    }
    .dataBox{
        margin: 3rem 0rem;
    }
    #navbarBrand{
        width: 100%;
    }
    #searchInput{
        font-size: 2.5rem;
    }
    .subTitle{
        font-size: 5rem;
        text-align: center;
        margin-top: 5rem;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
    #navbarBrand{
        width: 50%;
    }
    #searchInput{
        font-size: 2rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #navbarBrand{
        width: 40%;
    }
    #searchInput{
        font-size: 1rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #navbarBrand{
        width: 30%;
    }
    #searchInput{
        font-size: 1rem;
    }
}